body {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        background-color: #5396d99d;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .card {
        background-color: #afe1eec8;
        padding: 40px;
        border-radius: 10px;
        width: 90%;
        max-width: 600px;
        text-align: center;
        box-shadow: 0px 8px 12px #48a9f4;
    }

    h1 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .project {
        margin-bottom: 20px;
        font-size: 18px;
        color: #61a5c2;
    }

    .leader {
        font-weight: bold;
        margin: 15px 0;
    }

    .members {
        margin: 12px 0;
        line-height: 1.8;
    }

    .copyright {
        margin-top: 20px;
        font-size: 14px;
        color: #ccd0d9aa;
    }

    button {
        margin-top: 25px;
        padding: 8px 12px;
        border:none;
        border-radius: 12px;
        transition: all 0.4s ease;
        background-color: #4e4e50;
        color: rgba(245, 247, 249, 0.593);
        cursor: pointer;
    }

    button:hover {
        transform: translateY(-2px);
        background-color: #212121;
    }