* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.leftsection {
    flex: 1;
    background: linear-gradient(90deg, #5b86e4, #2b6072);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-width: 320px;
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(3, 9, 131, 0.2);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.logo img:hover {
    transform: scale(1.05) rotate(-1deg);
    box-shadow: 0 20px 60px rgba(42, 90, 156, 0.5);
}

.rightsection {
    flex: 1;
    background-color: #212121;
    background: linear-gradient(160deg, #000000, #0b2b36);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.logincard {
    width: 420px;
    padding: 45px 35px;
    border-radius: 12px;
    background: rgba(20, 20, 20, 0.95);
    border: 1px solid #05a0be;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.67);
    color: #f5f5f5;
}

.logincard h1 {
    text-align: center;
    font-weight: 600;
    color: #61a5c2;
    margin-bottom: 10px;
}

.subtext {
    text-align: center;
    color: #61a5c2;
    margin-bottom: 30px;
}

.formgroup {
    margin-bottom: 20px;
}

.formgroup label {
    display: block;
    color: #617e8e;
    font-size: 14px;
    margin-bottom: 6px;
}

.formgroup select,
.formgroup input {
    width: 100%;
    padding: 10px 14px;
    border-radius: 12px;
    border: 1px solid #1c1c1c;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    transition: all 0.3s ease;
}

.formgroup select {
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.formgroup input {
    background-color: #212121;
    color: #f5f5f5;
}

.formgroup input::placeholder {
    color: #8a8baa;
}

.formgroup select:focus,
.formgroup input:focus {
    outline: none;
    border-color: #043f86;
    box-shadow: 0 0 0 3px rgba(3, 43, 163, 0.3);
}

.formgroup input:focus {
    background-color: #1f1f1f;
    color: #fff;
}

.loginbutton {
    width: 100%;
    padding: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    border-radius: 4px;
    background: linear-gradient(135deg, #71bfdd, #457b9d);
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.4s ease;
    margin-top: 8px;
}

.loginbutton:hover {
    transform: translateY(-2px);
    border-radius: 22px;
    box-shadow: 0 6px 6px #0077b6;
}

.signuptext {
    text-align: center;
    font-size: 13px;
    margin-top: 24px;
    color: #999;
}

.signuplink {
    color: #5bc0de;
    text-decoration: none;
    font-weight: 600;
}

.signuplink:hover {
    color: #0b379c;
}


.shake {
  animation: shake 0.4s ease;
  border-color: #e74c3c;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-8px); }
  40% { transform: translateX(8px); }
  60% { transform: translateX(-6px); }
  80% { transform: translateX(6px); }
  100% { transform: translateX(0); }
}



.LoginFailed{
    color: #e74c36;
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .leftsection {
        display: none;
    }

    .logincard {
        width: 100%;
    }
}