 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #01497c;
    height: 100vh;
    overflow: hidden;
}


.container {
    display: flex;
    height: 100vh;
}

.left-section {
    flex: 1;
    background: linear-gradient(160deg, #7f9ee2, #0096c7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-width: 320px;
    border-radius: 15px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 0 15px 40px rgba(3, 9, 131, 0.2);
}

.logo img:hover {
    transform: scale(1.05) rotate(-1deg);
 box-shadow: 0 20px 60px rgba(42, 90, 156, 0.5);

   
}

.right-section {
    flex: 1;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}


.login-card {
    width: 420px;
    padding: 45px 35px;
    border-radius: 12px;
    background: rgba(20, 20, 20, 0.95);
    border: 1px solid #05a0be;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.673);
    color: #f5f5f5;
}

.text-center{
    font-family:Poppins, sans-serif;
}


.login-card h1 {
    text-align: center;
    font-weight: 600;
    color: #61a5c2; 
    margin-bottom: 10px;
}

.subtext {
    text-align: center;
    color: #61a5c2;
    margin-bottom: 30px;
}


.form-group {
    margin-bottom: 20px;
}

.form-group label {
    color: #617e8e;
    font-size: 14px;
    margin-bottom: 6px;
}


.form-control {
    background-color: #212121;
    border: 1px solid #1c1c1c;
    color: #f5f5f5;
    border-radius: 12px;
    padding: 10px 14px;
    transition: all 0.3s ease;
}

.form-control::placeholder {
    color: #8a8baa;
}

.form-control:focus {
    background-color: #1f1f1f;
    border-color: #043f86;
    box-shadow: 0 0 0 3px rgba(3, 43, 163, 0.3);
    color: #ffffff;
}


.login-button {
    width: 100%;
    padding: 12px;
    font-weight: 600;
    border-radius: 4px;
    background: linear-gradient(135deg, #71bfdd, #457b9d);
    border: none;
    color: #fff;
    transition: all 0.4s ease;
}

.login-button:hover {
    transform: translateY(-2px);
    border-radius: 22px;
    box-shadow: 0 18px 18px #0077b6;
}


.signup-text {
    text-align: center;
    font-size: 13px;
    margin-top: 30%;
    color: #999;
}

.signup-link {
    color: #062c8a;
    text-decoration: none;
    font-weight: 500;
}

.signup-link:hover {
    color: #0b379c;
}


@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-section {
        display: none;
    }

    .login-card {
        width: 100%;
    }
} 

